@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
/* nav bar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #910640;
  color: #ffffff;
}

.content-container {
  text-align: center;
  padding: 50px;
}
nav ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}
/* creates the underline for the navbar options */
nav a {
  color: white;
  text-decoration: underline;
}
/* the hover color for the navbar */
nav a:hover {
  color: #ffffff;
  text-decoration: underline;
}

li {
  font-size: 20px;
  padding: 15px;
}

h1 {
  margin: 20px;
  color: 2e41cc;
}

img {
  margin-left: 40px;
  margin-top: 25px;
  overflow: clip;
  width: 500px;
}
/* styling for my profile image */
.circle-image {
  border-radius: 50%;
  border-style: circle;
  border-color: 2e41cc;
}
/* first paragraph */
center {
  text-align: left;
  font-size: 18px;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  width: 90%;
}
/* about me */
h2 {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  margin-left: 30%;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 85%;
  margin: 0 auto;
  padding: 30px;
  flex-wrap: wrap;
}

.child-container {
  flex: 0;
  margin-left: 0%;
}

.child-container p {
  text-align: center;
}


.child-container-two {
  flex: 4;
  border-left: 4px solid #000000;
}

#app-photo {
  border: 5px solid #020202;
  display: flex;
  justify-content: center;
}

#app-photo:hover {
  background-color: #000000;
  opacity: 0.5;
}

.app-photo {
  display: flex;
  justify-content: center;
}

.abstract-image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#abstract-image {
  margin: 5px;
  max-height: 200px;
  max-width: 200px;
}

#abstract-image:hover {
  background-color: #970000;
  opacity: 0.5;
}

.contact-me ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.contact-me ul li a{
  text-decoration: underline;
  color: #ffffff;
}

.contact-me ul li a:hover {
  color: rgb(255, 255, 255);
}

.resume {
  display: flex;
  justify-content: center;
}

h3 {
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 250px) {
  #app-photo {
    width: 250px;
  }
  
  p {
    font-size: 22px;
  }

  #abstract-image {
    width: 150px;
  }
}

@media screen and (max-width: 450px) {
  #app-photo {
    width: 250px;
  }

  .portfolio-img {
    width: 180px;
    padding: 0;
  }

  footer {
    font-size: 50px;
  }

  #abstract-image {
    width: 150px;
  }
}

