@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
/* body background(s) */
body {
  background-color: antiquewhite;
}
html{
  background-color: antiquewhite;
}
/* height: 425px; */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #000000;
  font-size: large;
  border-radius: 60px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
/* Profile image */
img {
  margin-left: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
  overflow: clip;
  width: 315px;
}
main{
  background-color: antiquewhite;
}
.content-container {
  text-align: center;
  padding: 50px;
}
nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 50px;
  max-width: 20%;
}
/* text-decoration: underline; */
nav a {
  color: rgb(6, 0, 0);
}

/* the hover color for the navbar */
nav a:hover {
  color: #020000;
  text-decoration: underline;
}

li {
  font-size: 20px;
  padding: 15px;
  background-color: antiquewhite;
  border-radius: 90%;
  font-weight: 900;
}

/* nav bar/ My first name */
h1 {
  color: rgb(0, 0, 0);
  font-size: 40px;
  margin-left: -50%;
  background-color: antiquewhite;
  width: 350px;
  max-height: 350px;
  border-radius: 60px;
  padding-block: 20px;
  font-weight: 900;
}
/* styling for my profile image */
.circle-image {
  border-radius: 50%;
  border-style: solid;
  border-color: black;
}


/* ABOUT ME TITLE styling */
h2 {
  color:rgb(0, 0, 0);
  font-size: 30px;
  background-color: antiquewhite;
  border-color: #000000;
  border-style: solid;
  border-radius: 90%;
  width: 350px;
  max-height: 350px;
  border-radius: 120px;
  padding-block: 20px;
  margin-left: 80%;
  margin-top: 80px;
  margin-bottom: 80px;
  font-weight: 800;
  border-width: 5px;
}

/* first paragraph */
p1 {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 30px;
  text-align: center;
  line-height: 2.5;
  border-radius: 60px;
  border-style: solid;
  padding-left: 50px;
  padding-block: 25px;
  padding-right: 50px;
  border-width: 5px;
}

/* PREVIOUS PROJECTS styling */
h4 {
  color: rgb(0, 0, 0);
  font-size: 30px;
  background-color: antiquewhite;
  border-color: #000000;
  border-style: solid;
  width: 350px;
  max-height: 350px;
  border-radius: 120px;
  padding-block: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 800;
  margin-left: 4%;
  border-width: 5px;
}

/* PREVIOUS PROJECTS box */
div#work.container {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  height: 430px;
  background-color: #000000;
  border-radius: 60px;
  max-width: 2800px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 85%;
  margin: 0 auto;
  padding: 30px;
}

.child-container {
  margin-left: 0%;
  text-align: center;
  flex: 6;
  display: flex;
  font-size: 40px;
  color: antiquewhite;
}

#app-photo {
  border: 5px solid #000000;
  display: flex;
  justify-content: center;
}

#app-photo:hover {
  background-color: #000000;
  opacity: 0.5;
}

.app-photo {
  display: flex;
  justify-content: center;
}

.abstract-image {
  display: flex;
  flex-wrap: 0px;
}

/* image hover */
#abstract-image:hover {
  background-color: #ffffff;
  opacity: 0.5;
}

.contact-me ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.contact-me ul li a{
  text-decoration: underline;
  color: #000000;
}

.contact-me ul li a:hover {
  color: rgb(255, 255, 255);
}

.resume {
  display: flex;
  justify-content: center;
}

h3 {
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 250px) {
  #app-photo {
    width: 250px;
  }
  
  p {
    font-size: 22px;
  }
  
  #abstract-image {
    width: 150px;
  }
}

@media screen and (max-width: 450px) {
  #app-photo {
    width: 250px;
  }

  .portfolio-img {
    width: 180px;
    padding: 0;
  }

  footer {
    font-size: 50px;
  }

  #abstract-image {
    width: 150px;
  }
}

