@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html{
  background-color: white;
}
/* styling within the header */
header {
  background-color: #000000;
  border-radius: 60px;
  margin-left: 10px;
  margin-right: 10px;
  height: 340px;
  margin-top: 10px;
}

ul {
  display: flex;
  float: right;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 40px;
  margin-top: -3px;
}
/* button styling */
button {
  height: 40px;
  margin-top: 20px;
  width: 215px;
  text-align: center;
  border-radius: 90px;
  transition-duration: 0.4s;
  font-size: 15px;
}
button:hover {
  background-color: rgb(255, 255, 255);
  color: red;
  border-color: rgb(255, 0, 0);
  border-width: 10px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.7em;
  transition: 0.5s;
}
button:active {
  transform: translate(4px);
}

/* the hover color for the navbar */
  a {
    text-decoration: none;
    color: black;
}
/* Footer Button Styling */
li {
  font-size: 25px;
  padding: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 90%;
  font-weight: 900;
}

/* nav bar/ My first name and background color */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}
.box
{
  position: relative;
  width: 335px;
  height: 335px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  overflow: hidden;
  margin-left: 3%;
}
.box::before
{
  content: '';
  position: absolute;
  inset: -10px 140px;
  background: linear-gradient(315deg,#2200fe, #ff0000);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}
.box:hover::before
{
  inset: -20px 0px;
}
@keyframes animate
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}
/* circle styling */
.box::after
{
  content: '';
  position: absolute;
  inset: 6px;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  z-index: 1;
}
.content
{
  position: absolute;
  inset: 30px;
  border: 6px solid #ffffff;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* image inside of the circle */
.content img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  pointer-events: none;
  z-index: 3;
}
/* image hover opacity */
.box:hover .content img
{
  opacity: 0;
}
/* MY NAME IN THE CIRCLE */
.content h9
{
  position: relative;
  font-size: 1.5em;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 600;
  letter-spacing: 0.05;
  text-transform: uppercase;
}
/* VIEW MY RESUME STYLING */
.content h9 span
{
  font-weight: 300;
  font-size: 0.75em;
}
/* button in circle */
.content a 
{
  position: relative;
  margin-top: 10px;
  padding:  10px 20px;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-radius: 25px;
  font-weight: 500;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: 0.5s;
  border-color: #ff0000;
  border-width: 10px;
}
.content a:hover
{
  letter-spacing: 0.2em;
}

/* ABOUT ME TITLE styling */
h2 {
  color:rgb(0, 0, 0);
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  border-color: #ff0000;
  border-style: solid;
  border-radius: 90%;
  width: 350px;
  max-height: 350px;
  border-radius: 120px;
  padding-block: 10px;
  margin-left: 65%;
  margin-top: 80px;
  margin-bottom: 80px;
  font-weight: 800;
  border-width: 8px;
}

/* first paragraph styling*/
p1 {
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  text-align: center;
  line-height: 2;
  border-radius: 60px;
  border-style: solid;
  padding-left: 50px;
  padding-right: 50px;
  border-width: 8px;
  padding: 25px;
  border-color: black;

}

/* MY PREVIOUS PROJECTS styling */
h4 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  background-color: rgb(255, 255, 255);
  border-color: #001eff;
  border-style: solid;
  width: 350px;
  border-radius: 120px;
  padding-block: 15px;
  padding-right: 15px;
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 800;
  margin-left: 4%;
  border-width: 8px;
  text-align: center;
}

/* PREVIOUS PROJECTS box */
div#work.container {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  height: 430px;
  background-color: #000000;
  border-radius: 60px;
}

/* container for titles */
.child-container {
  display: flex;
  margin-left: 0%;
  text-align: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

#app-photo {
  border: 5px solid #ffffff;
  display: flex;
  justify-content: center;
}

#app-photo:hover {
  background-color: #fdfdfd;
  opacity: 0.5;
}

.app-photo {
  display: flex;
  justify-content: center;
}

.abstract-image {
  display: flex;
  flex-wrap: 0px;
}

/* image hover */
img:hover {
  background-color: #000000;
  opacity: 70%;
  border-radius: 50%;
}
#description1:hover {
  background-color: rgb(0, 0, 0);
  opacity: 70%;
  border-radius: 50%;
}
  ul2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
  }
  /* Add some basic styling for better presentation */
  .card {
    border: 20px solid #0a0707;
    padding: 20px;
    text-align: center;
    width: 250px;
    border-color: rgb(95, 95, 95);
    border-width: 1px;
  }

  img {
    display: flex;
    flex: space-between;
    flex-direction: row;
    max-width: 100%;
    height: auto;
    cursor: pointer;
  }
  div.card {
    background-color: #000000;
    text-align: center;
    font-size: 20px;
    color: #fdfdfd;
    border-radius: 15%;
  }
  .card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 112%;
  }